;500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank.ico"
;  THIS ICON NEEDS TO BE CHANGED: IT IS IN A FORMAT NOT SUPPORTED
; BY MASM

116 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow1_left.bmp"
124 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow1_onGround.bmp"    

130 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\p2_spritesheet.bmp"
134 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\p1_spritesheet.bmp"
