500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank.ico"

100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v1_cima_esquerda.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v1_cima.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v1_cima_direita.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v1_direita.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v1_baixo_direita.bmp"
105 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v1_baixo.bmp"
106 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v1_baixo_esquerda.bmp"
107 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v1_esquerda.bmp"

108 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v2_cima_esquerda.bmp"
109 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v2_cima.bmp"
110 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v2_cima_direita.bmp"
111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v2_direita.bmp"
112 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v2_baixo_direita.bmp"
113 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v2_baixo.bmp"
114 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v2_baixo_esquerda.bmp"
115 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank_v2_esquerda.bmp"