;500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank.ico"
;  THIS ICON NEEDS TO BE CHANGED: IT IS IN A FORMAT NOT SUPPORTED
; BY MASM

100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow1_top_left.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow1_top.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow1_top_right.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow1_right.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow1_down_right.bmp"
105 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow1_down.bmp"
106 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow1_down_left.bmp"
107 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow1_left.bmp"
108 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow1_ground.bmp"

109 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow2_top_left.bmp"
110 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow2_top.bmp"
111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow2_top_right.bmp"
112 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow2_right.bmp"
113 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow2_down_right.bmp"
114 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow2_down.bmp"
115 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow2_down_left.bmp"
116 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow2_left.bmp"
124 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\arrow2_ground.bmp"

130 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\p2_spritesheet.bmp"
134 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\p1_spritesheet.bmp"

169 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\background2.bmp"

170 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\enterprise.bmp"
171 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\splashscreen.bmp"

200 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\heart1.bmp"
201 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\heart2.bmp"