500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\tank.ico"

100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\0.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\1.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\2.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\3.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\4.bmp"
105 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\5.bmp"
106 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\6.bmp"
107 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\7.bmp"

110 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\20.bmp"
111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\21.bmp"
112 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\22.bmp"
113 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\23.bmp"
114 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\24.bmp"
115 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\25.bmp"
116 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\26.bmp"
117 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\27.bmp"
